<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard 📊</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-grid fixed>
  <ion-row>
    <ion-col size="3">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Total Visits Today</ion-card-subtitle>
          <ion-card-title>100</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="3">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Page Stay time</ion-card-subtitle>
          <ion-card-title>15 min</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="3">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Blog views Today</ion-card-subtitle>
          <ion-card-title>1000</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="3">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Subscriptions Clicks today</ion-card-subtitle>
          <ion-card-title>10</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
  
<ion-text color="primary">
  <h1>This page is a dummy page.</h1>
</ion-text>
</ion-content>
