<ion-content class="popover-content">
  <div class="popover-header">
    <ion-icon
      [name]="data.icon || 'information-circle'"
      color="primary"
    ></ion-icon>
    <h3>{{ data.title }}</h3>
  </div>

  <div class="popover-body">
    <ul *ngIf="contentArray.length > 1" class="info-list">
      <li *ngFor="let item of contentArray">{{ item }}</li>
    </ul>
    <p *ngIf="contentArray.length === 1" class="info-text">
      {{ contentArray[0] }}
    </p>
  </div>

  <div class="popover-footer">
    <ion-button fill="clear" size="small" (click)="dismiss()">
      Got it
    </ion-button>
  </div>
</ion-content>
